body {
	width: 100%;
	height: 100%;
}
#addEmployeeContainer {
	text-align: center;
	margin-top: 1%;
}
#addEmployeeButton {
	background-color: #009933;
	color: white;   
}
#editButton {
	background-color: orange;
	color: white;
	text-decoration: none;
}
#deleteButton {
	background-color: red;
	color: white;
	text-decoration: none;	
}
#employeeManager * {
	margin-left: auto;
	margin-right: auto;
}
#title {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
table {
	border: 3px solid black;
	background-color: grey;
}
#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
h1 {
	text-align: center;
}
#employeeCreator {
	width: 25%;
	border: 3px solid black;
	padding: auto;
	margin: auto;
	background-color: grey;
}
#employeeCreatorForm * {
	display: block;
	margin-top: 1%;
	margin-bottom: auto;
	margin: auto;
}
#employeeCreatorForm input, #employeeCreatorForm button {
	margin-top: 1%;
	margin-bottom: 1%;
}
#employeeCreatorForm label {
	text-align: center;
	margin-top: 1%;
}
#loginContainer {
	width: 25%;
	border: 3px solid black;
	padding: auto;
	margin: auto;
	background-color: grey;
}
#loginForm * {
	display: block;
	margin-top: 1%;
	margin-bottom: auto;
	margin: auto;
}
#loginForm input, #loginForm button {
	margin-top: 1%;
	margin-bottom: 1%;
}
#loginForm label {
	text-align: center;
	margin-top: 1%;
}
#departmentsTable {
	width: 50%;
	display: block;
	border: 3px solid black;
	padding: auto;
	margin: auto;
	background-color: grey;
}

.center {
	text-align: center;
}
#departmentManager {
	text-align: center;
}

#formContainer {
	width: 25%;
	border: 3px solid black;
	padding: auto;
	margin: auto;
	background-color: grey;
}
#form * {
	display: block;
	margin-top: 1%;
	margin-bottom: auto;
	margin: auto;	
}

#form input, #form button {
	margin-top: 1%;
	margin-bottom: 1%;
}
#form label {
	text-align: center;
	margin-top: 1%;
}
.frame {
	border: 3px;
}