<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link th:href="@{/css/stylesheet.css}" rel="stylesheet" />
		<title>H&R Association Manager</title>
	</head>
	<body>
		<h1>H&R Association Manager - Logs</h1>
		<a id="addEmployeeButton" th:href="@{/}">Retour</a>
		<div id="employeeManager">
			<table>
				<thead>
					<!--  <th><a th:href="@{/logs/index/admin/{order}(order=${nextOrder})}">Pseudo</a></th>-->
					<th>
					    <a 
					       th:href="@{/logs/index/{column}/{order}/{page}(column='admin', order=${currentOrder == 'ASC' ? 'DESC' : 'ASC'}, page=0)}">
					        <span th:if="${currentColumn == 'admin'}">
					            <span th:if="${currentOrder == 'ASC'}"> &darr; </span>
					            <span th:if="${currentOrder == 'DESC'}"> &uarr; </span>
					        </span>
					        Admin
					    </a>
					</th>
					<th>
					    <a 
					       th:href="@{/logs/index/{column}/{order}/{page}(column='action', order=${currentOrder == 'ASC' ? 'DESC' : 'ASC'}, page=0)}">
					        <span th:if="${currentColumn == 'admin_action'}">
					            <span th:if="${currentOrder == 'ASC'}"> &darr; </span>
					            <span th:if="${currentOrder == 'DESC'}"> &uarr; </span>
					        </span>
					        Action
					    </a>
					</th>
					<th>
					    <a 
					       th:href="@{/logs/index/{column}/{order}/{page}(column='dateTime', order=${currentOrder == 'ASC' ? 'DESC' : 'ASC'}, page=0)}">
					        <span th:if="${currentColumn == 'dateTime'}">
					            <span th:if="${currentOrder == 'ASC'}"> &darr; </span>
					            <span th:if="${currentOrder == 'DESC'}"> &uarr; </span>
					        </span>
					        Date
					    </a>
					</th>
					<th>Détails</th>
				</thead>
				<tbody>
					<tr th:each="log: ${logs}">
			        	<td><p th:text="${log.admin.username}"></p></td>
			            <td><p th:text="${log.action}"></p></td>
			            <td><p th:text="${log.dateTime}"></p></td>
			            <td><a th:href="@{/log/{id}(id=${log.id})}">Détails</a></td>
			        </tr>
				</tbody>
			</table>
			<div class='center'>
				<span th:if="${column != null && order != null}">
					<a th:href = "@{/logs/index/{column}/{order}/{page}(page=${previousPage}, column=${currentColumn}, order=${currentOrder})}">Précédent</a>
					<a th:href = "@{/logs/index/{column}/{order}/{page}(page=${nextPage}, column=${currentColumn}, order=${currentOrder})}">Suivant</a>
				</span>
				<span th:if="${column == null || order == null}">
					<a th:href = "@{/logs/index/{page}(page=${previousPage})}">Précédent</a>
					<a th:href = "@{/logs/index/{page}(page=${nextPage})}">Suivant</a>
				</span>
			</div>
		</div>
	</body>
</html>