<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link th:href="@{/css/stylesheet.css}" rel="stylesheet" />
		<title>H&R Association Manager</title>
	</head>
	<body>
		<h2 id='title'>Ajout d'employé</h2>
		<div id="employeeCreator">
			<form id='employeeCreatorForm' th:method='POST' th:action="@{/saveEmployee}" th:object="${employee}">
				<input type='hidden' th:field="*{id}">
				<label for='firstName'>Prénom</label>
				<input id='firstName' type='text' th:field="*{firstName}">
				<label for='lastName'>Nom</label>
				<input id='lastName' type='text' th:field="*{lastName}">
				<label for='email'>Email</label>
				<input id='email' type='email' th:field="*{mail}">
				<label for='password'>Mot de passe</label>
				<input id='password' type='password' th:field="*{password}">
				<select id='department' th:field="*{department.id}">
					<option value="0">Veuillez choisir un service</option>
    				<option th:each="dpt : ${departments}" th:value="${dpt.id}" th:text="${dpt.name}"></option>
				</select>
				<button type='submit'>Ajouter</button>
			</form>
		</div>
	</body>
</html>