<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link th:href="@{/css/stylesheet.css}" rel="stylesheet" />
		<title>H&R Association Manager</title>
	</head>
	<body>
		<h1>H&R Association Manager</h1>
		<img id='logo' th:src="@{images/logo.png}">
		<h2 id='title'>Liste des employés</h2>
		<p id='title' th:if="${message}" th:text="${message}" style="color: green;"></p>
		<div id = 'employeeManager'>
			<table>
				<thead>
					<tr>
						<th>Nom</th>
						<th>Prénom</th>
						<th>Service</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${employees.empty}">Aucun employé dans la base de données.</tr>
					<tr th:each="employee: ${employees}">
	                	<td><p th:text="${employee.firstName}"></p></td>
	                	<td><p th:text="${employee.lastName}"></p></td>
	                	<td><p th:if="${employee.department}" th:text="${employee.department.name}"></p></td>
	                	<td><a id='deleteButton' th:href="@{/deleteEmployee/{id}(id=${employee.id})}">Supprimer</a></td>
	                	<td><a id='editButton' th:href="@{/editEmployee/{id}(id=${employee.id})}">Éditer</a></td>
	                </tr>
				</tbody>
			</table>
			<div id='addEmployeeContainer'>
				<a id='addEmployeeButton' th:href="@{/addEmployee}">Ajouter un employé</a>
				<a id='addEmployeeButton' th:href="@{/departments}">Gestionnaire de Services</a>
				<a id='addEmployeeButton' th:href="@{/logs/index}">Visionner les logs</a>
			</div>
		</div>
	</body>
</html>