<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link th:href="@{/css/stylesheet.css}" rel="stylesheet" />
		<title>H&R Association Manager</title>
	</head>
	<body>
		<h1>H&R Association Manager - Services</h1>
		<p id='title' th:if="${error}" th:text="${error}" style="color: red;"></p>
		<p id='title' th:if="${message}" th:text="${message}" style="color: green;"></p>
		<div id='addEmployeeContainer'>
			<a id='addEmployeeButton' th:href="@{/department/add}">Ajouter un service</a>
		</div>
		<div id = 'departmentsTable' style="margin-top: 1%;">
			<table>
				<thead>
					<tr>
						<th class='center'>ID</th>
						<th class='center'>Nom</th>
						<th class='center'>Description</th>
						<th class='center'>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${departments.empty}">Aucun service dans la base de données.</tr>
						<tr th:each="department: ${departments}">
		                	<td class='center'><p th:text="${department.id}"></p></td>
		                	<td class='center'><p th:text="${department.name}"></p></td>
		                	<td class='center'><p th:text="${department.description}"></p></td>
		                	<td class='center'><a th:href="@{/department/{id}(id=${department.id})}">Éditer</a></td>
		                	<td class='center'><a th:href="@{/deleteDepartment/{id}(id=${department.id})}">Supprimer</a></td>
		             </tr>
				</tbody>
			</table>
		</div>
	</body>
</html>